<main class="container" >
	<h2>My Dashboard</h2>
	<div class="grid" style="margin-bottom: 50px;">
		<div><a href="/new-post" role="button" class="primary"><i style="margin-right:5px;"class="fa-sharp fa-solid fa-plus"></i>  New Post</a></div>
		<div></div>
		<div></div>
		<div></div>	
	</div>


{{#if posts}}
	<table role="grid">
	<thead>
		<tr>
		<th scope="col">My Posts</th>
		</tr>
	</thead>
	<tbody>
		{{#each posts as |post|}}
		<tr>
		<td>
			<p><strong>{{post.name}}</strong></p>
			<p style="margin-top:-15px;">{{post.description}}</p>
			<p>{{ format_datepost.date_created}}</p>	
			<p><a href="/edit-post/{{post.id}}" style="margin-right: 7px;">Edit </a><a style="cursor: pointer;" id="delete-post" data-id="{{post.id}}"> Delete</a></p>
		</td>
		</tr>
		{{/each}}
	</tbody>
	</table>  
	{{else}}
		No posts yet
{{/if}}
</main>

<script src="../js/delete-post.js"></script>